@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");

#persons {
  margin-bottom: 2rem;
  font-family: "East Sea Dokdo", cursive;
  font-size: 2rem;
}

#projectIntroduce {
  font-family: "East Sea Dokdo", cursive;
  font-size: 2rem;
}

#projectIntroduceTitle {
  font-family: "East Sea Dokdo", cursive;
  font-size: 4rem;
  color: brown;
}

#projectIntroduceTitle2 {
  font-family: "East Sea Dokdo", cursive;
  font-size: 3rem;
  color: black;
}
